/* complete Document */

/* body */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: rgb(14, 52, 75);



}
/* header section  */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
align-items: center;
justify-content: space-between;
position: fixed  ;
 background-color: rgb(216, 223, 238);  
}
/* logo div  */
#logo {
  width: 130px;
  padding: 5px;
}
/* logo image  */
#logoImage {
  max-height: 100%;
  max-width: 100%;
  padding: 10px 20px;
}
#header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 600px;
  text-align: center;
}
#header a {
  text-decoration: none;
  color: rgb(14, 52, 75);
}
#header li a:hover {
  color: rgb(100, 150, 25);
}

/* Header End  */
